################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/AWSMailgunCallbackHandler/v16
/AWSMailgunCallbackHandler/obj
/AWSMailgunCallbackHandler/bin/Debug/netcoreapp3.1
/AWSMailgunCallbackHandler/bin/Release/netcoreapp3.1
